<input [(ngModel)] = "newFood">
<button (click) = "saveFood()">Save</button>

<h2>Legendary Food List of Ultimate Power and Grand Destiny (With a side of Mayo)</h2>
<ul *ngFor="let food of foods">
  <li>{{ food.item }}</li>
  <button type="button" class="btn btn-danger" (click)="deleteFood(food)">Delete</button>
  <button type="button" class="btn btn-secondary" (click)="newEditFood(editModal, food)">Edit</button>
</ul>


<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Food</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="editFoodInput">Change the food item you selected: </label>
        <div class="input-group">
          <input id="editFoodInput" class="form-control" [(ngModel)]="editFood.type" food="Edit Food">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
  </div>
</ng-template>
